
header{
    height: 150px;
    background-color: grey;
    position: fixed;
    width: 2000px;
    top: 0px;
    left: 0px;
}
#box1{
    height: 2000px;
    background-color: lightgrey;
    position: fixed;
    width: 125px;
    top: 0px;
    left: 0px;

}
#box2{
    height: 2000px;
    background-color: lightgrey;
    position: fixed;
    width: 125px;
    top: 0px;
    right: 0px;
}
footer{
    height: 100px;
    background-color: black;
    position: fixed;
    width: 2000px;
    bottom: 0px;
    left: 0px;
}